<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gcm.heruijun.com.travelflangcm">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="gcm.heruijun.com.travelflangcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="gcm.heruijun.com.travelflangcm.permission.C2D_MESSAGE" />

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="gcm.heruijun.com.travelflangcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false"></service>

    </application>

</manifest>